<div>
  <div class="main-nav">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="img/ConDepWebLogo.png" alt="condep" /></a>
      </div>
      <ul class="nav nav-pills navbar-nav environment-list">
        <li><a href="#">Queue <span class="badge">5</span></a></li>
        <li><a href="#">Running <span class="badge">2</span></a></li>
      </ul>
      <ul class="nav navbar-nav config-list">
        <li><a href="#admin"><span class="fa fa-cogs">&nbsp;&nbsp;</span>Administration</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <!--
  <div id="content" class="content">
  </div>
  -->
  <!--
  <div class="footer">
      <span>&copy; Jon Arild Tørresdal 2014&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Version: 2.0.0&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<a href="http://www.con-dep.net">www.con-dep.net</a></span>
  </div>
  -->
</div>