<div>
  <div id="wizRegion">
  </div>

  <h4>About Load Balancers</h4>
  <p>Configure ConDep to use one or more load balancers is optional. However, laod balancing is a very common way of allowing no-downtime deployments, so it's highly recommended to integrate with your load balancer if you allready have one in place.</p>

  <p> 
    <button id="newLoadBalancer" type="button" class="btn btn-success btn-xs"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
  </p>

  <div id="listRegion">
  </div>
</div>