<td>
  {{this.name}}
</td>
<td>
	{{this.username}}
</td>
<td>
	{{this.suspendStrategy}}
</td>
<td>
	{{this.loadStrategy}}
</td>
<td>
  <span class='badge'>3</span>
</td>
<td>
    <button type='button' class='btn btn-danger btn-xs l-right'>Delete</button>
</td>
