<div>
  <thead> 
     <tr> 
        <th>Name</th> 
        <th>User</th>
        <th>Suspend Strategy</th> 
        <th>Scheduling Algorithm</th> 
        <th>Farms</th>
        <th><span class="l-right">Actions</span></th>
     </tr>
  </thead>
</div>