<td colspan="6">
	<div id="noItemsMessage">
		<h4>No load balancers configured</h4>
		<p>Using load balancer(s) with ConDep is optional, but if you are load balancing your applications it's highly recommended to integrate them with ConDep. Check out the Help section on the left to see if your load balancer is allready supported by ConDep. If not, it's quite easy to create a provider that will work for your specific load balancer.</p>
	</div>
</td>
