<div>
  <ul class="list applications">
    <li class="application">
      <h3><span class="fa fa-columns">&nbsp;&nbsp;</span>Skadeweb</h3>
      <ul class="list executions">
        <li>
          <span class="label label-warning">pending</span>
          <ul class="pipeline">
            <li class="execution step"><span class="label label-success">success</span> Step 1 <span class="summary">Completed 14:09 in 2:12 minutes</span></li>
            <li class="execution step"><span class="label label-success">success</span> Step 2 <span class="summary">Completed 14:12 in 1:58 minutes</span></li>
            <li class="execution step"><span class="label label-warning">pending</span> Step 3
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  <span class="sr-only">90% Complete (success)</span>
                </div>
              </div>
              <span class="summary">Running 0:32 minutes</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="label label-success">success</span>
          Execution
        </li><li>
          <span class="label label-success">success</span>
          Execution
        </li><li>
          <span class="label label-danger">failed</span>
          Execution
        </li><li>
          <span class="label label-danger">failed</span>
          Execution
        </li>
        <li class="pagination"><a href="#">Show older...</a></li>
      </ul>
    </li>

      <li class="application">
      <h3><span class="fa fa-columns">&nbsp;&nbsp;</span>ProduktWeb</h3>
      <ul class="list executions">
        <li class="execution">
          <span class="label label-success">success</span>
          Execution
        </li>
        <li class="execution">
          <span class="label label-success">success</span>
          Execution</li>
      </ul>
    </li>

      <li class="application">
      <h3><span class="fa fa-columns">&nbsp;&nbsp;</span>RådgiverWeb</h3>
      <ul class="list executions">
        <li>
          <span class="label label-warning">pending</span>
          <ul class="pipeline">
            <li class="execution step"><span class="label label-success">success</span> Step 1</li>
            <li class="execution step"><span class="label label-success">success</span> Step 2</li>
            <li class="execution step"><span class="label label-warning">pending</span> Step 3
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <span class="label label-success">success</span>
          Execution
        </li><li>
          <span class="label label-success">success</span>
          Execution
        </li><li>
          <span class="label label-danger">failed</span>
          Execution
        </li><li>
          <span class="label label-danger">failed</span>
          Execution
        </li>
        <li class="pagination"><a href="#">Show older...</a></li>
      </ul>
    </li>
  </ul>
</div>