<div>
  <div id="wizRegion">
  </div>

  <h4>About Environments</h4>
  <p>Environments contain information of the different environments ConDep can deploy to. Typical environments in an organization might be dev, test, QA and prod.</p>

  <p> 
    <button id="newEnv" type="button" class="btn btn-success btn-xs"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
  </p>

  <div id="envList">
  </div>
</div>