<div>
  <div class="admin-header"><h3><span class="fa fa-cogs">&nbsp;&nbsp;</span>Administration</h3>
  </div>

  <div id="admin-nav">
  </div>

  <div class="admin-main-top-border"></div>
  <div id="admin-main" class="admin-main">
  </div>
</div>