<div>
	<div id="modalRegion"></div>
  <div id="wizRegion">
  </div>

  <h4>About Load Balancers</h4>
  <p>To have ConDep integrate with load balancer(s) is optional. However, using load balancers is an effective way to allow no-downtime deployments, so if you have a load balanced environment, it's highly recommended to integrate with your load balancer.</p>

  <p> 
    <button id="newLoadBalancer" type="button" class="btn btn-success btn-xs"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
  </p>

  <div id="listRegion">
  </div>
</div>