<div>
	<div id="modalRegion"></div>
  <div id="wizRegion">
  </div>

  <h4>Load Balancers</h4>
  <p>ConDep can integrate with load balancers and automatically take servers on/off-line during deployments. This is a great way to enable no-downtime deployments.</p>

  <p> 
    <button id="newLoadBalancer" type="button" class="btn btn-success btn-xs"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
  </p>

  <div id="listRegion">
  </div>
  <div id="progressMessage" class="loading">
  </div>
</div>